<h1>Boards#index</h1>
<h2>Welcome <%= current_user.first_name%></h2>

<% @boards.each do |board| %>
  <div>
    <h3><%= link_to board.name, board %> <h3>
  </div>
<%end%>
<h3><%= link_to "New Board",new_board_path(@board), class: "ui orange button"%><h3>
<p>Find me in app/views/boards/index.html.erb</p>